<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hridoy Rahman's Portfolio</title>
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!--    &lt;!&ndash; Google fonts &ndash;&gt;-->
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/assets/css/style-starter.css">
    <!-- css files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
</head>

<body>

<!-- header -->
<div th:replace="header :: header">...</div>
<!-- //header -->

<!-- inner banner -->
<section class="inner-banner py">
    <div class="w3l-breadcrumb py-lg-2">
        <div class="container pt-2 pb-sm-2">
            <ul class="breadcrumbs-custom-path">
                <li><a th:href="@{/home}">Home</a></li>
                <li class="active"><i class="fas fa-angle-right"></i>Dashboard</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->

<!-- login block -->
<section class="dashboard py-5" id="dashboard">
    <div class="container py-lg-5">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <h3 class="title-style" th:text="${'Welcome - ' + username}"></h3>
            <p class="" th:text="${'You logged in as - ' + roles}"></p>
        </div>
    </div>
</section>

<section class="services py-5" id="services">
    <div class="container py-5">
        <div class="py-2">
        </div>
    </div>
</section>
<!-- //login block -->

<!-- footer block -->
<div th:replace="footer :: footer">...</div>
<!-- //footer block -->

</body>
</html>