<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
</head>
<body>
    <!-- footer -->
    <footer class="py-5">
        <div class="container">
            <div class="w3layoutsinfo-grids">
                <div class="w3layouts-grid-left w3layouts-grid-right text-center">
                    <div class="social mb-4">
                        <ul>
                            <li><a href="#"><span class="fa mr-2 fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa mr-2 fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa mr-2 fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa mr-2 fa-pinterest"></span></a></li>
                            <li><a href="#"><span class="fa mr-2 fa-vk"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright text-center">
                <p>© 2018 Activity. All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a> </p>
                <a href="#home" class="move-top scroll"><span class="fa fa-angle-up" aria-hidden="true"></span></a>
            </div>
        </div>
    </footer>
    <!-- //footer -->
</body>
</html>